.App {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}

select {
  width: 3rem;
  height: 21px;
  margin-right: 5px;
}
.rowContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 22px;
  margin: 0 5px;
}
